{%- assign device = site.data.devices[page.device] -%}
{% if device.is_ab_device %}
{% capture content -%}
If recovery shows error 7 while sideloading. 
1. Download [super_empty.img](https://gitlab.pixelexperience.org/android/vendor-blobs/wiki_blobs_martini/-/raw/main/android-13/super_empty.img?inline=false)
2. Reboot to fastbootD
3. Use command 'fastboot wipe-super super_empty.img'
4. Now you can sideload rom, Don't forget to format data after sideloading.
{%- endcapture %}
{% include alerts/note.html content=content %}
{% endif %}
