@charset "UTF-8";

// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary:              #2196f3 !default;
$brand-info:                 #00B1E5 !default;
$brand-success:              #38853B !default;
$brand-warning:              #F4AC45 !default;
$brand-danger:               #D0422D !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
